<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="single-product-img">
                    <img src="/assets/img/accounts/uploads/{{accounts.img}}" alt="">
                </div>
            </div>

            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>{{accounts.hoten}}</h3>
                    <p>{{accounts.diachi}}</p>
                    <p>{{accounts.sodienthoai}}</p>
                    <p>{{accounts.email}}</p>
                </div>
            </div>

        </div>
    </div>
</div>