	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Kết quả tìm kiếm của bạn là</span></h3>
						
					</div>
				</div>
			</div>

			<div class="row">
				{{#each products}}
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item box">
						<div class="product-image">
							<a href="/products/{{this.slug}}"><img src="/assets/img/products/uploads/{{this.img}}" alt=""></a>
						</div>
						<a href="/products/{{this.slug}}"><h3>{{this.ten}}</h3></a>
					 	<p><span>Kg</span></p>	 
						<input type="number"  name="soluong" value="1">
						<p class="product-price">{{this.gia}}</p>
						<a onclick="addToCart(this)" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				{{else}}
				<h1>Không có</h1>
				{{/each}}
			</div>
		</div>
	</div>
	<!-- end product section -->

	
	