<div class="mt-150 mb-150">
    <h3>Quản Lý Các Rau Củ Quả</h3>
    <h3><a href="/products/create" class="btn btn-primary">Tạo Rau Củ Quả</a></h3>
    
    <a href="/me/trash/products">Thùng rác</a>
    <form class="form-inline my-2 my-lg-0" method="get" action="/me/stored/products/search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col">Giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thời gian</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">{{sum @index 1 }}</th>
                <td>{{this.ten}}</td>
                <td>{{this.gia}}</td>
                <td>{{this.soLuong}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/products/{{this.slug}}" class="btn btn-primary">Chi Tiết</a>
                    <a href="/products/{{this._id}}/edit" class="btn btn-outline-primary">Edit</a>
                    <a href="" class="btn btn-outline-danger" data-id="{{this._id}}" data-toggle="modal" data-target="#delete-products-modal">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colpan="5" class="text-center">
                    Không có rau củ quả
                    <a href="/products/create">Tạo Các Rau Củ Quả</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="delete-products-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Có muốn xóa rau củ quả?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="btn-delete-products" type="button" class="btn btn-danger">Xóa</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-form" method="post" ></form>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var ID
        var deleteform = document.forms['delete-form']
        var btnDelete = document.getElementById('btn-delete-products');
        $('#delete-products-modal').on('show.bs.modal', function(event){
            var button = $(event.relatedTarget)
            ID = button.data('id')
            
        })
        
        btnDelete.onclick = function(){
            deleteform.action = '/products/' + ID + '?_method=DELETE'
            deleteform.submit()
        }
    })
</script>