<div class="container-fluid">
    <div class="row h-300 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-12 p-sm-10 my-6 mx-3">
                <h3>Hóa Đơn Của User</h3>
            </div>
            <form method="post" action="/hoadonchitiet/{{hoadonchitiet._id}}?_method=PUT">
                <div class="form-floating m-3">
                    <label class="form-label">Họ tên</label>
                    <input type="text" class="form-control " name="hoten" value="{{hoadonchitiet.hoten}}">
                </div>
                <div class="form-floating m-3">
                    <label class="form-label">địa chỉ</label>
                    <input type="text" class="form-control " name="diachi" value="{{hoadonchitiet.diachi}}">
                </div>
                <div class="form-floating m-3">
                    <label class="form-label">Số diện thoại</label>
                    <input type="text" class="form-control " name="sodienthoai" value="{{hoadonchitiet.sodienthoai}}">
                </div>
                <div class="form-floating m-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control " name="email" value="{{hoadonchitiet.email}}">
                </div>
                <div class="form-floating m-3">
                <label class="form-label">Status: <b>{{hoadonchitiet.status}}</b></label>
                <br>
                <select class="form-select" name="status">
                    <option selected>{{hoadonchitiet.status}}</option>
                    <option value="chưa giao hàng">chưa giao hàng</option>
                    <option value="giao hàng">giao hàng</option>
                </select>
                </div>

                <button type="submit" class="btn btn-primary py-3 w-100 m-1"
                    style="background-color: #F28123">Lưu</button>
                <h4> <a href="/me/stored/hoadonchitiet" class="btn btn-primary py-3 w-100 m-1" > Hủy </a> </h4> 
            </form>

            </div>
        </div>
    </div>

